.body {
  background-color: #fff;
}
.contactUs {
  background-color: #f9a700;
  cursor: url('./assets/con_pointer.png'), auto;
}
.map {
  min-height: 100%;
  /* border: 3px solid #000; */
}
.map iframe {
  min-width: 100%;
  min-height: 500px;
}

.datar {
  cursor: url('./assets/circle.png'), auto;
}
