.body {
  background-color: #fff;
}
.contactUs {
  background-color: #f9a700;
  cursor: url('./assets/con_pointer.png'), auto;
}
.map {
  min-height: 100%;
  /* border: 3px solid #000; */
}
.map iframe {
  min-width: 100%;
  min-height: 500px;
}

.datar {
  cursor: url('./assets/circle.png'), auto;
}

#enquiry {
  display: flex;
  align-items: center;
  justify-content: center;
}

#enquiryForm {
  background: #f9a700;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  cursor: url('./assets/con_pointer.png'), auto;
}

#enquiryForm h3 {
  color: #443f41;
  font-weight: 800;
  margin-bottom: 20px;
}

#enquiryForm input,
#enquiryForm textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background-color: #443f41;
  font-size: 16px;
  color: #fff;
}

#enquiryForm button {
  margin: 20px auto 0;
  width: 150px;
}
